[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
astropy = "==4.2"
persiantools = "==1.5.1"
python-dotenv = "==0.15.0"
python-telegram-bot = "==13.1"
pytz = "==2020.5"

[dev-packages]

[requires]
python_version = "3.8.3"
